#wrapper {
  width: 420px;
  height: 520px;

}
button{
  border: none;
  font: HelveticaNeue-CondensedBold;
}
.movie-app{
  width: 100%;
  height: 100%;
  background: #3A5B5B;  
  -webkit-border-radius: 19px;
}
.logo {
	width:100%;
	height:20%;
}
.browse-toggle{
	text-align: center;
}
.basic-button{
	background-color: #9B8816;
  color: #D3D3D3;
  padding: 5px 3px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 2px 1px;
  -webkit-border-radius: 5px;
}
.toggle-button{
	background-color: #5D3A00;
}
.search{
	text-align: center;
  padding: 3px;
}
.search-bar{
  width: 300px;
  height: 30px;
  background: white;
  border: none;
  font: HelveticaNeue-CondensedBold;
  font-size: 12pt;
  color: #63717f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.display{

}
.search-display{

}
